<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台风季节活动分析</title>
    <link rel="stylesheet" type="text/css" href="../static/css/new.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="container"> <!-- 表示整个网页的大容器-->
        <!-- 头部 -->
        <div class="top">
            <h1 class="title"><strong>台风季节活动分析</strong></h1>
        </div>

        <!-- 下部内容区 -->
        <div class="contain">

            {# 顶部数据菜单区#}
            <div class="top_menu_box">
                <ul class="top_menu_pic">
                    <li><img src="../static/img/cloud.svg"></li>
                </ul>
            </div>

            <!-- 左侧菜单栏 -->
            <div class="left">

                {#顶部数据名称#}
                <div class="data_name">ERA5_Monthly</div>

                <!-- 变量和层次盒子-->
                <div class="var_level_box">
                    <!-- 左半边变量盒子-->
                    <div class="var_list_box">
                        <table class="var">
                            <tr>
                                <th class="title">分析变量</th>
                            </tr>
                            <tr>
                                <td>
                                    <select class="var_list" name="var_list" size="10">
{#                                        <option value="SST"  selected = "selected" >SST</option>#}
{#                                        <option value="SST_Anomaly">SST_Anomaly</option>#}
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--层次的种类-->
                    <div class="level_box">
                        <table class="level">
                            <tr>
                                <th class="title">层次</th>
                            </tr>
                            <tr>
                                <td>
                                    <select class="level_list" name="level_list" size="10">
                                        <option value="none"  selected = "selected" >无定义</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--时间的box-->
                <div class="year_month" style="font-size: 18px;text-align: center">
                    <div class='time_title',style="font-size: 18px;text-align: center;">时间范围</div>
                    <div style="height: 10px"><br></div>
                    <div id='month_start' class="laydate">起始年月：<input type="text" class="month" id="start_time_year_month"></div>
                    <div style="height: 8px"><br></div>
                    <div id='month_end' class="laydate">终止年月：<input type="text" class="month" id="end_time_year_month"></div>
                </div>
                <div class="year_month_day" style="font-size: 18px;text-align: center">
                    <div class='time_title' style="font-size: 18px;text-align: center;">时间范围</div>
                    <div style="height: 10px"><br></div>
                    <div id="date_start" class="laydate">起始时间：<input type="text" class="date" id="start_time_year_month_day"></div>
                    <div style="height: 8px"><br></div>
                    <div id='date_end' class="laydate">终止时间：<input type="text" class="date" id="end_time_year_month_day"></div>
                </div>

                <!--经纬度设置的box-->
                <div class="location_box">
                    <form method="POST">
                        <table class="location" >
                            <tr>
                                <th colspan="3" class="title" style="height: 25px;padding-bottom:5px">图形区域</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>北：<input class="location" type="text" value="50" id="north"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>西：<input class="location" type="text" value="60" id="west"></td>
                                <td></td>
                                <td>东：<input class="location" type="text" value="300" id="east"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>南：<input class="location" type="text" value="-50" id="south"></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>

                <!--提交的button-->
                <div class="submit">
                    <button type="button" style="font-family: 微软雅黑;font-size: 18px;color:#0a4a8d; padding:2px 6px;font-weight:bold">绘 图</button>
                </div>
            </div>  {# 左侧内容区 #}

{#            右下侧内容区#}
            <div class="right">
                <div class="drawing" style="text-align: center;">
                    <div class="drawing_word">绘图中，请稍后...</div>
                </div>
                <div class="pic"><img src="static/img/1.jfif"></div>
            </div>
        </div>  {# contain内容区 #}

    </div>  {# container容器 #}

</body>
<script src="../static/layDate-v5.0.9/laydate/laydate.js"></script>
<script src="../static/js/javascript.js"></script>
<script src="../static/js/ajax.js"></script>
</html>
